 <!-- <hero> -->
<section class="hero" id="home">
    <main class="content">
        <h1 id="animation-typing"></h1>
        <!-- <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, harum.
        </p> -->
    </main>
</section>
<!-- </hero> -->
<!-- Fitur Application -->
<section class="app" id="app">
    <h2>Our Applications</h2>
    <div class="row-app">
        <div class="app-content">
            <a href="https://hsse.bth.infineon.com:450" class="btn"><i class="bi bi-box-seam"></i> Goods Admin</a>
        </div>
        <div class="app-content">
            <a href="https://hsse.bth.infineon.com:446" class="btn"><i class="bi bi-file-text"></i> Cycle Count</a>
        </div>
        <div class="app-content">
            <a href="https://hsse.bth.infineon.com:447" class="btn"><i class="bi bi-clipboard-data"></i> KPI Peformance</a>
        </div>
        <div class="app-content">
            <a href="https://hsse.bth.infineon.com:444" class="btn"><i class="bi bi-truck"></i> Shipment Request</a>
        </div>
    </div>
</section>
<!-- Fitur Application -->
<!-- <about> -->
<section class="about" id="about">
    <h2>About us</h2>
    <div class="about-content">
        <div class="about-img">
            <img src="~/asset/img/aboutus.JPG" alt="" />
        </div>
        <div class="text">
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                Consequuntur sequi neque, animi maxime, quod dicta sunt, vel atque
                aut et culpa quae! Ea aliquid quidem sit, vero debitis libero modi!
            </p>
        </div>
    </div>
</section>
<!-- </about> -->